* {
    box-sizing: border-box;
  }
  
  .link {
    overflow: hidden;
    background-color: #333;
  }
  
  .link a {
    float: left;
    display: inline;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  .link a:hover {
    background-color: #ddd;
    color: black;
  }

  @media screen and (min-width: 1024px) {
    .uno {
      float: none;
      width: 25%;
    }
    .dos {
        float: none;
        width: 25%;
    }
    .tres {
        float: none;
        width: 25%;
    }
    .cuatro {
        float: none;
        width: 25%;
    }
  }
  
  @media screen and (max-width: 1024px) {
    .uno {
      float: none;
      width: 33.3%;
    }
    .dos {
        float: none;
        width: 33.3%;
    }
    .tres {
        float: none;
        width: 33.3%;
    }
    .cuatro {
        float: none;
        width: 100%;
    }
  }

  @media screen and (max-width: 768px) {
    .uno {
      float: none;
      width: 50%;
    }
    .dos {
        float: none;
        width: 50%;
    }
    .tres {
        float: none;
        width: 50%;
    }
    .cuatro {
        float: none;
        width: 50%;
    }
  }

  @media screen and (max-width: 480px) {
    .uno {
      float: none;
      width: 100%;
    }
    .dos {
        float: none;
        width: 100%;
    }
    .tres {
        float: none;
        width: 100%;
    }
    .cuatro {
        float: none;
        width: 100%;
    }
  }